.board {
  position: relative;
  margin: 50px;
  width: 800px;
  height: 800px;
  border: 3px solid black;
  z-index: 0;
}

.board-square {
  position: absolute;
  margin: 0px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  z-index: 1;
}
