.board {
  position: relative;
  margin: 50px;
  width: 800px;
  height: 800px;
  border: 3px solid black;
  background-color: rgb(43, 151, 43);
  z-index: 0;
}

.board-square {
  position: absolute;
  margin: 0px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  z-index: 1;
}

.white-piece {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.black-piece {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
}
